@import "../../../assets/colors/colors.css";

/**********************/
/*     CONTAINER      */
/**********************/

/* MAIN INFOS */

.host-title-container {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  /* background-color: black; */
}

/* DETAILS */
.event-details-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.event-date-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event-description-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/**********************/
/*        TEXTE       */
/**********************/
.event-name {
  font-size: 32px;
  font-weight: bold;
}

.event-date {
  font-size: 24px;
  color: var(--secondary);
}
.event-location {
  font-size: 16px;
  color: var(--green);
}

.event-button-map {
  color: var(--green);
  font-weight: bold;
}

/**********************/
/*     RESPONSIVE     */
/**********************/

/* Desktop */
@media only screen and (min-width: 1024px) {
  .event-infos-container {
    display: flex;
    gap: 70px;
  }

  .event-picture {
    width: 360px;
    height: 450px;
    background-size: cover;
  }

  .event-main-infos-container {
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .host-title-container {
    padding: 0;
  }
  .event-details-container {
    padding: 0;
  }

  .linear-gradient {
    background-image: none;
    width: 0;
    height: 0;
  }
  .host-title-container {
    position: relative;
  }
}

/* Tablette */
@media only screen and (max-width: 1200px) {
}

/* Téléphone */
@media only screen and (max-width: 768px) {
}
