/**********************/
/*     CONTAINER      */
/**********************/

/* MAIN INFOS */
.hosts-infos {
  position: absolute;
  top: 445px;
  left: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.hosts-avatar {
  display: flex;
  gap: 5px;
}

.hosts-name {
  display: flex;
  gap: 5px;
}
/* DETAILS */
.event-details-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
}
.event-location-container {
  display: flex;
  gap: 5px;
}

.event-description-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/**********************/
/*       IMAGE        */
/**********************/

.event-picture {
  width: 100%;
  height: 490px;
  background-size: cover;
}

.linear-gradient {
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0)
  );
  width: 100%;
  height: 490px;
  z-index: 4;
}

/**********************/
/*        TEXTE       */
/**********************/
.event-name {
  position: absolute;
  left: 20px;
  font-size: 32px;
  font-weight: bold;
}

.event-host-name {
  font-size: 14px;
}

.event-date {
  font-size: 24px;
}
.event-location {
  font-size: 16px;
}

.event-button-map {
  font-weight: bold;
}
/**********************/
/*     RESPONSIVE     */
/**********************/

/* Desktop */
@media only screen and (min-width: 1200px) {
  .event-infos-container {
    width: 1024px;
    display: flex;
    background-color: aqua;
  }

  .event-picture {
    width: 300px;
    height: 490px;
    background-size: cover;
  }
}

/* Tablette */
@media only screen and (max-width: 1250px) {
  .event-infos-container {
    width: 100vw;
  }
}

/* Téléphone */
@media only screen and (max-width: 768px) {
}
