/**********************/
/*     CONTAINER      */
/**********************/

.feed-container {
  padding: 20px;
}

/**********************/
/*       TEXTE        */
/**********************/

/* Desktop */
@media only screen and (min-width: 1024px) {
  .feed-container {
    flex: 1;
    padding: 0 50px;
  }
}
