@import url("../assets/colors/colors.css");

.edit-veni-logo {
  font-size: 34px;
  font-weight: bold;
}

.event-card {
  height: 600px;
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: #2a2e2e;
  border-radius: 20px;
  flex-shrink: 0;
}

.event-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.event-profile-container {
  display: flex;
  overflow: scroll;
  gap: 20px;
  padding: 0 30px;
}

.avatar-button {
  background-color: #121818;
  border: none;
}

.avatar-picture {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.profile-plus {
  color: var(--green);
  font-size: 25px;
}

.button-plus {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #182825;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 20px 0 30px;
}

.top-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.profile-title {
  margin: 20px 30px;
  font-size: 25px;
}

.profile-button {
  margin: 20px 30px;
}

.profile-event {
  margin: 15px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profile-event-title {
  font-size: 32px;
}

.profile-event-date {
  color: var(--green);
  font-size: 20px;
}

.profile-event-description {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 65%;
  background-color: #ffffff20;
  position: relative;
  border-radius: 20px;
}

.event-top {
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 6px;
  padding: 10px;
  backdrop-filter: blur(6px);
  background: linear-gradient(to top, #2a2e2e, rgba(255, 255, 255, 0));
  width: 100%;
  height: 30%;
  word-wrap: break-word;
}

.event-bottom {
  margin: 20px 0 0 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.top-desktop {
  display: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.event-profile-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.event-profile-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/**********************/
/*     CONTAINER      */
/**********************/

/**********************/
/*       IMAGE        */
/**********************/

/**********************/
/*        TEXTE       */
/**********************/

/**********************/
/*     RESPONSIVE     */
/**********************/

/* Desktop*/
@media only screen and (min-width: 1024px) {
  .top-profile {
    display: none;
  }
  .profile-container {
    width: 1024px;
    margin: 0 auto;
  }
  .top-desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .profile-title {
    display: none;
  }
  .profile-title-desktop {
    margin: 20px 0px;
    font-size: 30px;
  }
  .button-desktop {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .profile-button {
    margin: 20px 0;
  }
  .event-profile-container {
    margin: 20px 0;
    padding: 0;
  }
}
