/**********************/
/*     CONTAINER      */
/**********************/

.container {
  margin: 0 auto;
  width: 390px;
}

.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.top-title {
  margin-top: 30px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/**********************/
/*       IMAGE        */
/**********************/

/**********************/
/*        TEXTE       */
/**********************/

.sign-up a {
  color: #fff;
  text-decoration: none;
  margin-top: 50px;
}

.sign-up h3 {
  font-size: 12px;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.avatar p {
  margin-top: 15px;
  font-weight: bold;
}

/**********************/
/*     RESPONSIVE     */
/**********************/

/* Desktop*/
@media only screen and (min-width: 1350px) {
  .sign-up {
    margin-top: 100px;
  }
}

/* Téléphone */
@media only screen and (max-width: 768px) {
}
