.form-button {
  width: 342px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #1e2424;
  color: white;
  backdrop-filter: blur(15px);
  font-size: 20px;
  font-weight: 700;
  border: none;
  font-family: "Raleway", sans-serif;
  margin-top: 150px;
}

.empty-form-button {
  width: 342px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #1e2424;
  color: white;
  backdrop-filter: blur(15px);
  font-size: 20px;
  font-weight: 700;
  border: none;
  font-family: "Raleway", sans-serif;
  margin-top: 150px;
  opacity: 0.33;
}
