.input {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 68.75% */
}

.name-input {
  background-color: #121818;
  color: #fff;
  border: none;
  text-align: center;
  font-size: 32px;
  margin-top: 200px;
}

.name-input:focus {
  outline: none;
}

.verification-input {
  background-color: #121818;
  color: #fff;
  border: none;
  font-size: 20px;
  margin-top: 10px;
}

.verification-input:focus {
  outline: none;
}

.birthday-input {
  height: 40px;
  font-size: 20px;
  background-color: #121818;
  border: none;
  color: white;
  font-weight: bold;
  text-align: center;
  margin: 150px 20px 0 20px;
}
