.input {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 68.75% */
}

.name-input {
  background-color: #121818;
  color: #fff;
  border: none;
  text-align: center;
  font-size: 32px;
}

.name-input:focus {
  outline: none;
}
