.time-event-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.time-event-block label {
  color: #ffffff50;
}

.time-event-form {
  background-color: #ffffff00;
  font-size: 28px;
  border: none;
  color: white;
  font-family: "Raleway", sans-serif;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  display: block;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background: transparent;
}
